/bin
/build
/target
.settings/
/tmp
.git/
.git
.classpath
/test-output
.project
.externalToolBuilders/
.bpmn
.deployables
settings.fatjar/
.apt_generated/
.factorypath
*.iml
/.idea
.springBeans
#li_bin添加
/*/.idea/
